[user]
        email = hongyi.zhao@gmail.com
        name = Hongyi Zhao
[http]
        proxy = socks5h://192.168.10.100:18888
[status]
        showUntrackedFiles = no
[core]
        quotePath = false
        #gitproxy = /home/werner/Public/repo/github.com/git/core.gitProxy.sh
[pull]
        rebase = false


